.site-exclusion,
.browser-processes {
  padding: 5px 18px 5px 5px;
  border-radius: 5px;
  outline: 1px solid white;
  margin-right: 10px;
}

.close-icon {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}

.settings input {
  max-height: 35px;
  max-width: 200px;
}

.settings {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.setting-group {
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  border: 1px solid #ccc;
}
