.project-settings {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.project-header {
  display: inline-grid;
  grid-template-columns: auto 1fr 2fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.project-header > * {
  justify-self: center;
  margin: 0;
}

.project-header > h3 {
  width: 100%;
}

.project-header button {
  justify-self: end;
}

.app-item {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 10px 10px 0;
  color: white;
  background-color: #3282f7;
}

section.header {
  display: flex;
  gap: 20px;
}

.project-line {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.project-line > * {
  align-self: center;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.project {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.project > * {
  align-self: center;
}

.app-list {
  margin-top: 10px;
  display: inline-flex;
  gap: 10px;
}
.app-list > * {
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 3px;
}
