.event-bars {
  height: 50px;
  display: flex;
  margin-block: 10px;
  background-color: #2f3241;
  border-radius: 5px;
}

.event-bars .event-bar {
  height: 100%;
  border-radius: 5px;
}

.project {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.tracked-app {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tracked-app .app-color {
  width: 10px;
  height: 40px;
  border-radius: 5px;
  margin-block: 5px;
}

.tracked-app .app-end {
  margin-left: auto;
}

.input-container {
  display: inline-block;
  margin: 15px 15px 15px 0px;
}

.input-container i {
  color: white;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

input[list] {
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
}

input[list]:focus + i {
  transform: translateY(-50%) rotate(180deg);
}

input[list]::-webkit-input-placeholder {
  color: white;
}

/* Remove arrow */
input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input[list].sort,
.tag.sort {
  background-color: #3282f7;
}

input[list].filter,
.tag.filter {
  background-color: #3282f7;
}

input[list] {
  background-color: #3282f7;
}
.react-select-container {
  color: white;
}

.react-select-container.operator .react-select__control {
  width: 110px !important;
}

.react-select__control {
  width: 300px;
  height: 100%;
  display: inline-block;
  margin-right: 15px;
  background-color: #3282f7;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
.react-select__menu {
  margin-top: 5px;
  background-color: #3282f7;
  border-radius: 5px;
  padding: 5px;
}
