.dropdown-container {
  width: 100%;
  display: inline-block;
}

.input-container {
  width: 100%;
}

.input-container i {
  color: white;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

input[list] {
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

input[list]:focus {
  border-radius: 5px;
  outline: none;
}

input[list]:focus + i {
  transform: translateY(-50%) rotate(180deg);
}

input[list]::-webkit-input-placeholder {
  color: white;
}

/* Remove arrow */
input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

input[list] {
  background-color: #3282f7;
  border-radius: 5px;
}

.datalist {
  background-color: #3282f7;
  color: white;
  position: absolute;
  max-width: 100%;
  border-radius: 5px;
  z-index: 10;
  max-height: 350px;
  min-height: 35px;
  overflow-y: scroll;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  box-sizing: border-box;
  display: none;
  overflow-x: hidden;
}

.datalist::-webkit-scrollbar-thumb {
  width: 5px;
  background: #313131;
  border-radius: 5px 0 0 5px;
}
.datalist::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 5px;
}
.da .dropdown-container.active .datalist {
  grid-template-columns: 1fr;
}

.datalist option {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.datalist > * {
  width: 100%;
  overflow-x: hidden;
}
.tags .tag {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 10px 10px 0;
  color: white;
}

.tags .tag i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}
.datalist.datalist-item {
  display: none;
}
.datalist-item.active {
  display: block;
}
