.icon-title {
  display: block;
  width: 30px;
  height: 30px;
}

.icons-title {
  position: absolute;
  right: -75px;
  bottom: 15px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: max-content;
}

.settings-icon:hover {
  animation: spin 3s linear infinite forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
