.loader {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 75px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.loader .loader-bar-container {
  width: 100%;
  height: 30px;
  background-color: #202020;
  border-radius: 10px;
}

.loader .loader-bar-container .loader-bar {
  height: 100%;
  background-color: #1aa68a;
  border-radius: 10px;
}
